* {
    background:      #141415;
    background-alt:  #252530;
    foreground:      #cdcdcd;
    selected:        #333738;
    active:          #6e94b2;
    urgent:          #d8647e;
    border:          #a986bc;
}
