* {
    background:      #1D1C19;
    background-alt:  #282727;
    foreground:      #c5c9c5;
    selected:        #393836;
    active:          #87a987;
    urgent:          #c4746e;
    border:          #8992a7;
}
