* {
    background:      #181818;
    background-alt:  #282828;
    foreground:      #e4e4e4;
    selected:        #453d41;
    active:          #96a6c8;
    urgent:          #f43841;
    border:          #96a6c8;
}
