* {
  font-family: "JetbrainsMono Nerd Font", "Noto Color Emoji";
  font-size: 11.5px;
  transition: background-color 0.3s ease-out;
}

window#waybar {
  background: transparent;
  /* background: #252530;  */
  /* background: #000000; */
  color: #cdcdcd;
  font-family: "JetbrainsMono Nerd Font", "Noto Color Emoji";
  /* padding: 0 0px; */
  /* border-radius: 10px; */
  margin: 4px 1px;
  border: none;
  box-shadow: none;
  transition: background-color 0.5s;
}

.modules-center,
.modules-left,
.modules-right {
  background: #141415;
  border-radius: 10px;
  margin: 0px 0;
  border: 1px solid #555555;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-music,
#mode,
#idle_inhibitor,
#language,
#mpd {
  padding: 0 3px;
  border-radius: 0;
  margin: 0;
  color: #cdcdcd;
}

#tray {
  padding: 0 5px;
}
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
  background: #252530;
}

#workspaces button {
  font-family: "JetbrainsMono Nerd Font", feather;
  font-weight: 900;
  font-size: 14px;
  color: #cdcdcd;
  border: none;
  border-radius: 8px;
  padding: 3px 6px;
  margin: 2px 1px;
  min-width: 0;
  min-height: 0;
  background: transparent;
}

#workspaces button.focused,
#workspaces button.active {
  background: #252530;
  color: #7fa563;
}

#workspaces button.urgent {
  background: #d8647e;
  color: #cdcdcd;
}

#workspaces button:hover {
  background: #252530;
  color: #cdcdcd;
  box-shadow: none;
}

#pulseaudio,
#wireplumber,
#network {
  padding-left: 2px;
}

#tray {
  padding-left: 5px;
}

#battery.critical {
  background: #d8647e;
  color: #cdcdcd;
}
