* {
  font-family: "Jetbrains Mono Nerd Font", "JetbrainsMonoNL Nerd Font";
  font-size: 13px;
  transition: background-color 0.3s ease-out;
}

window#waybar {
  background: #181616;
  color: #DCD7BA;
  font-family: "JetbrainsMonoNL Nerd Font";
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  transition: background-color 0.5s;
}

.modules-center,
.modules-left,
.modules-right {
  padding: 0 1px;
  border-radius: 2px;
  margin: 0;
}
.modules-left {
  padding: 2px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-music,
#tray,
#mode,
#idle_inhibitor,
#language,
#mpd {
  padding: 0 5px;
  border-radius: 6px;
  margin: 0;
  color: #DCD7BA;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
  background: #282727;
}

#workspaces button {
  font-family: "Jetbrains Mono Nerd Font", feather;
  font-weight: 900;
  font-size: 14px;
  color: #DCD7BA;
  border: none;
  border-radius: 2px;
  padding: 2px 5px;
  margin: 0 1px;
  min-width: 0;
  min-height: 0;
  background: transparent;
}

#workspaces button.focused,
#workspaces button.active {
  background: #393836;
  color: #8992a7;
}

#workspaces button.urgent {
  background: #c4746e;
  color: #12120f;
}

#workspaces button:hover {
  background: #282727;
  color: #c4b28a;
  box-shadow: none;
}

#pulseaudio,
#wireplumber,
#network {
  padding-left: 2px;
}

#battery.critical {
  background: #c4746e;
  color: #12120f;
}
