* {
  font-family: "Jetbrains Mono Nerd Font", "JetbrainsMonoNL Nerd Font";
  font-size: 13px;
  transition: background-color 0.3s ease-out;
}

window#waybar {
  background: transparent;
  color: #c0caf5;
  font-family: "JetbrainsMonoNL Nerd Font";
  padding: 0 10px;
  margin: 0;
  border: none;
  box-shadow: none;
  transition: background-color 0.5s;
}

.modules-center,
.modules-left,
.modules-right {
  background: #1a1b26;
  border-radius: 12px;
  margin: 4px;
  padding: 0 4px;
  border: 1px solid #7aa2f7;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-music,
#tray,
#mode,
#idle_inhibitor,
#language,
#mpd {
  padding: 0 6px;
  border-radius: 0;
  margin: 0;
  color: #c0caf5;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
  background: #24283b;
}

#workspaces button {
  font-family: "Jetbrains Mono Nerd Font", feather;
  font-weight: 900;
  font-size: 14px;
  color: #c0caf5;
  border: none;
  border-radius: 8px;
  padding: 3px 6px;
  margin: 2px 1px;
  min-width: 0;
  min-height: 0;
  background: transparent;
}

#workspaces button.focused,
#workspaces button.active {
  background: #292e42;
  color: #7aa2f7;
}

#workspaces button.urgent {
  background: #f7768e;
  color: #1a1b26;
}

#workspaces button:hover {
  background: #24283b;
  color: #7aa2f7;
  box-shadow: none;
}

#pulseaudio,
#wireplumber,
#network {
  padding-left: 2px;
}

#battery.critical {
  background: #f7768e;
  color: #1a1b26;
}
